# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings


/groupbot/logs/
/groupbot2/logs/
/groupbot3/logs/
/groupbot4/logs/
/groupbot5/logs/
/groupbot6/logs/
/groupbot7/logs/

/groupbot/storage.json
/groupbot2/storage.json
/groupbot3/storage.json
/groupbot4/storage.json
/groupbot5/storage.json
/groupbot6/storage.json
/groupbot7/storage.json


/groupbot
/groupbot2
/groupbot3
/groupbot4
/groupbot5
/groupbot6
/groupbot7
# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant
