# phpstorm project files
.idea

# netbeans project files
nbproject

# zend studio for eclipse project files
.buildpath
.project
.settings


/groupbot/logs/
/groupbot2/logs/
/groupbot3/logs/
/groupbot4/logs/
/groupbot5/logs/
/groupbot6/logs/
/groupbot7/logs/

/test-postback/node_modules/*
/postback-sargis/node_modules/*
/groupbot/storage.json
/groupbot2/storage.json
/groupbot3/storage.json
/groupbot4/storage.json
/groupbot5/storage.json
/groupbot6/storage.json
/groupbot7/storage.json


/groupbot/sniffedusers.txt
/groupbot2/sniffedusers.txt
/groupbot3/sniffedusers.txt
/groupbot4/sniffedusers.txt
/groupbot5/sniffedusers.txt
/groupbot6/sniffedusers.txt
/groupbot7/sniffedusers.txt

/groupbot/sniff.txt
/groupbot2/sniff.txt
/groupbot3/sniff.txt
/groupbot4/sniff.txt
/groupbot5/sniff.txt
/groupbot6/sniff.txt
/groupbot7/sniff.txt
# windows thumbnail cache
Thumbs.db

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml

tests/_output/*
tests/_support/_generated

#vagrant folder
/.vagrant
groupbot7/storage.json
